:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /*  text colors */
  --main-txt-cl: #757575;

  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --blue-bt-cl: #2196f3;
  /* other */
  --nav-st-cl: #212121;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-txt-cl);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}
.footer {
  background-color: var(--dark-bg-cl);
}
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
}
.nav {
  color: var(--nav-st-cl);
}
.nav-link.currrent{
  color:var(--blue-bt-cl);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}
.nav-link:hover,
.nav-link:focus,
.conact-link:hover,
.conact-link:focus,
.local:hover,
.local:focus,
.adress-link:hover,
.adress-link:focus,
.currrent {
  color: #2196f3;
}
.filter-button:hover,
.filter-button:focus,
.filter-bt:hover,
.filter-bt:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.hero {
  background-color: var(--dark-bg-cl);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-unit {
  font-weight: 500;
  color: #212121;
}
.team-posision,
.team-unit {
  font-size: 16px;
  line-height: 1.19;
}
.team {
  background-color: var(--light-bg-cl);
}
.adress {
  font-size: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.local {
  color: #ffffff;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2196f3;
}
.filter-bt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
}
.portfolio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-decs {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
